body {
  margin-left: var(--espace-xxlarge);
  margin-right: var(--espace-xxlarge);
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  margin-top: var(--espace-xxlarge);
  margin-bottom: var(--espace-xxlarge);
}

main {
  display: flex;
}

.librarie {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding-left: 30px;
  width: 100%;
}
